.user {
  display: flex;
}

.img {
  margin-right: 2%;
  width: 230px;
  min-width: 160px;
  img {
    min-height: 180px;
  }
}

.user__info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .left {
    h1 {
      //font-size: 35px;
      margin: 0;
    }

    h4 {
      color: #c0c0c0;
      margin: 0;
    }

    a {
      color: inherit;

      &:hover {
        color: #4183c4;
      }
    }
  }
}

.link {
  font-size: 14px;

  &:hover {
    color: #171ad7;
  }
}